
<div class="landingTemp1">
<div id="carouselExampleCaptions" class="sliders carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 2  "></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner" >
    <div class="carousel-item active" data-bs-interval="10000">
    <a href="https://drive.google.com/folderview?id=14cRlKZXm8AOM6WLFkgBgE5qQ9_2E9bjs">  <img src="https://img.freepik.com/free-photo/book-composition-with-open-book_23-2147690555.jpg" class="d-block w-100" alt="book1"></a>
      <div class="carousel-caption d-none d-md-block">
        <h2 ><a class="bklink" href="https://drive.google.com/folderview?id=14cRlKZXm8AOM6WLFkgBgE5qQ9_2E9bjs
          ">First year books</a></h5>
      </div>
    </div>
    <div class="carousel-item " data-bs-interval="2000">
     <a href="https://drive.google.com/folderview?id=14lZf_M5FqyHFObbrgViLMGqd_VA7Z7Wm"> 
      <img src="https://img.freepik.com/free-photo/two-good-white-books_23-2147803597.jpg" class="d-block w-100" alt="..."></a>
      <div class="carousel-caption d-none d-md-block">
        <h2><a class="bklink" href="https://drive.google.com/folderview?id=14lZf_M5FqyHFObbrgViLMGqd_VA7Z7Wm">Second year books</a></h2>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="500">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqX3IDbg1sIPJ76dm5OL8bSoldk6gt01oU_w&s" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h2><a class="bklink" href="">Third year books</h2></a>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="10000">
      <img src="https://st4.depositphotos.com/5586578/20631/i/450/depositphotos_206316258-stock-photo-unbelievable-shocked-dumbfounded-man-emotion.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h2 >you still need a book!</h2>
      </div>
    </div>
    
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>


