
body{
    
    background-color: #E0DED3;
    background-size: contain; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center;
    margin: 0; 
    /* height: 100vh; 
    width: 100vw;  */
}   



.landingTemp1 {
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Takes the full viewport height */
}

.sliders {
    width: 60vw;
    max-width: 100%; /* Ensures it doesn't overflow the viewport */
    margin: auto;
}




